:root{
    box-sizing: border-box;
    font-size: calc(0.5em + 1vw);
    --negro: #000000;
    --blanco: #ffffff;
    --share: 'Share Tech Mono', monospace;
    --subtext: 'Roboto Mono', monospace;
}

*,
::before,
::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Share Tech Mono', monospace;
    background-color: var(--negro);
    color: var(--blanco);
}
img{max-width: 100%;}

/*****************NAVBAR**************************************/
.navbar{
    font-size: 1rem;
    display: flex;
    /*border: var(--blanco) 0.063em solid;
    border-radius: 0 0 0.929em 0.929em;*/
    align-items: center;
    padding: 0.892em
}

.navbar__list{
    list-style-type: none;
    display: flex;
    align-items: center ;
    justify-content: flex-end;
    width:100%;     
}

.navbar__item + .navbar__item{margin-left: 4em;} 

.navbar__item--logo{margin-right: auto;}

.navbar__anchor{
    font-size: 1.5em;
    color: inherit;
    text-decoration: none;
}

.navbar__anchor--logo{
    font-size: 1.98em;
}

.navbar__dropdown{
    display: none;
    font-size: 1rem;
    width: 14em;
    position: absolute;
    top: 100%;
    left: -300%;

}

.navbar__dropdown--sub{
    top:-1%;
    left: 101%;
}

.navbar__dropdown--blog{
    left: -330%;
}
.bordered{
    /*font-size: inherit;*/
    border:var(--blanco) 0.14em solid;
    border-radius: 0.74em
}
.dropdown__list{
    
    list-style-type: none;

}
.dropdown__item{

}

.dropdown__anchor{
    padding:0.54em;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    color: inherit;
    text-decoration:none;
} 

.dropdown__icon{
    width: 1.23em;
    height: 1.23em;
    margin-right: 0.74rem;
    stroke: var(--blanco);
}

.dropdown__icon--chevron{
    margin-right: 0;
    margin-left: auto;
}

.dropdown__icon--crypto{
    fill: var(--blanco);
}

.dropdown__text{
    font-size: 1.23em;
}

.dropdown__item:hover > .dropdown__anchor  *{
    stroke:var(--negro);
    color: var(--negro);

}
.dropdown__item:hover{
    background-color: var(--blanco);
}

.dropdown__item:hover  > .dropdown__anchor .dropdown__icon--crypto{
    fill: var(--negro);
}

.navbar__item--relative{
    position: relative;
}

.navbar__item--relative:hover > .navbar__dropdown{
    display: block;
}